ion-avatar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  ion-img {
    width: 100%;
    height: auto;
  }
  
  ion-button {
    --color: black;
    font-size: 22px;
  }
  
  ion-label h3 {
    font-weight: bold;
    margin: 0;
  }
  
  ion-label p {
    font-size: 12px;
    color: gray;
  }
  